{% extends "base.html" %}

{% block body %}
<div class="container-fluid">

  <form action="/reset">
    <input type="submit" class="btn btn-primary" value="reset">
  </form>

  <br>

  Select KB:
  <select id="kb">
    <option></option>
    {% for kb in kbs %}
    <option>{{ kb }}</option>
    {% endfor %}
  </select>

  <div id="topModel"></div>

</div>
{% endblock %}
