<div id={{ 'model-{}'.format(id) }}>
  <h4> {{ title }} </h4>
  <ul>
    {% for para, v in params.items() recursive %}
    <li> {{ para }}:
      {% if v.domain|length == 1 %}
      <input type="text" value="{{v.domain[0]}}" disabled> <br>
      {% elif v.domain|length > 1%}
      <select id="{{ v.id }}" class=select_para>
        <option></option>
        {% for option in v.domain %}
        <option>{{option}}</option>
        {% endfor %}
      </select>
      {% else %}
      <input type="text" id="{{ v.id }}" class=input_para> <br>
      {% endif %}
      <div id="{{ '{}-child'.format(v.id) }}"></div>
      {% if v.child %}
      <ul> {{ loop(v.child.items()) }} </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

